@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p></p>
    <div id="img-serviço">
        <img src="~/img/Logo01.jpg" style="width: 510px; height: 300px">
    </div>
    <p></p>
    <div id="img-serviço">
        <img src="~/img/Logostee02.fw.png" style="width: 90px; height: 90px">
    </div>
</div>
